h1,h2,h3,h4,h5{
	font-family: $headerFont;
	transition: font-size 200ms ease;
	margin: 0;
	padding-bottom: 0.5em;
}
p{
	font-size: 0.9em;
	margin: 0;
	line-height: 24px;
	transition: font-size 100ms ease;
}

h1{
	font-size: 2.2em;
}
h2{
	font-size: 1.8em;
}

h3{
	font-size: 1.6em;
}

h4{
	font-size: 1.4em;
}

h5{
	font-size:1.2em;
}



@media(min-width: $bp-sm){
	h1{
		font-size: 2.6em;
	}
	h2{
		font-size: 2.2em;
	}

	h3{
		font-size: 2em;
	}

	h4{
		font-size: 1.8em;
	}

	h5{
		font-size:1.6em;
	}
	p{
		font-size: 0.9em;
	}
}

@media(min-width: $bp-md){
	p{
		line-height: 27px;
		font-size: 1em;
	}
	h1{
		font-size: 3em;
	}
	h2{
		font-size: 2.6em;
	}

	h3{
		font-size: 2.4em;
	}

	h4{
		font-size: 2.2em;
	}

	h5{
		font-size:2em;
	}
}

@media(min-width: $bp-lg){
	p{
		line-height: 28px;
		font-size: 1.2em;
	}
	h1{
		font-size: 3.4em;
	}
	h2{
		font-size: 3em;
	}

	h3{
		font-size: 2.8em;
	}

	h4{
		font-size: 2.6em;
	}

	h5{
		font-size:2.4em;
	}
}
@media(min-width: $bp-xl){
	p{
		line-height: 30px;
		font-size: 1.4em;
	}
	h1{
		font-size: 3.8em;
	}
	h2{
		font-size: 3.4em;
	}

	h3{
		font-size: 3.2em;
	}

	h4{
		font-size: 3em;
	}

	h5{
		font-size:2.8em;
	}
}

@media(min-width: $bp-xxl){
	p{
		line-height: 32px;
		font-size: 1.5em;
	}
	h1{
		font-size: 4.2em;
	}
	h2{
		font-size: 3.8em;
	}

	h3{
		font-size: 3.6em;
	}

	h4{
		font-size: 3.4em;
	}

	h5{
		font-size:3.2em;
	}
}
