.the-view{
	background: white;
}
.graph{
	max-width: 1100px;
	width: 100%;
	margin: auto;
	position: relative;
}

.avg{
	font-size: 1em;
	color: black;
	padding: 2em 0em;
	text-align: center;
}
.three-container{
	max-width:500px;
	margin: auto;
	padding: 1em 0em;

	&:after{
		content:'';
		position: relative;
		display: block;
		clear: both;
	}
}
.item{
	float: left;
	position: relative;
	width: 33%;
	p{
		text-transform: uppercase;
		font-weight: bolder;
	}
	span{
		font-size: 3.6em;
	}

	&:after{
		content: '';
		position: absolute;
		right: -2px; top: 10%;
		height: 80%; width: 2px;
		background: #eee;

	}

	&:last-of-type{
		&:after{
			content: '';
			display: none;
		}
	}
}
.your-stats{
	font-size: 1.8em;
	padding: 0.5em 0em;
}
.the-average{
	color: $blue;
}
.a1c{
	font-size: 1.8em;
	padding: 0.4em 0em;
}
.view-logger{
	background: $blue;
	margin: 0.4em 0em;
	display: inline-block;
	border: none;
	color: white;
	font-size: 3em;
	padding: 0.3em 0.8em;
}
.the-log{
	display: none;
}
.the-logger{
	font-size: 140%;
	padding: 0.3em 0em;
	&:nth-child(odd){
		background: #eee;
	}
}
.the-mini-reading{
	font-weight: bolder;
	font-family: $headerFont;
	font-size: 1.2em;
	background: $blue;
	color: #343434;
}
.the-what{
	a{
		color: $blue;
		font-weight: bolder;
		font-size: 1.4em;
		padding: 1em 0em;
		display: inline-block;
	}
}

.loader{
	height: 100%;
	width: 100%;
	top: 0; left: 0;
	position: absolute;
}
.the_loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    position: absolute;
    left: 50%; top: 50%;
    margin-left: -60px;
    margin-top: -60px;
    height: 120px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media(min-width: $bp-lg){
	#myChart{
		height: 600px !important;
		width: 100% !important;
	}
}